.wrapper {
    margin-top:30px;
    border: 1px solid #DFE1E6;
}
.top {
    background-color: #2152CC;
    min-height: 4px;
}
.top img {
    height:16px;
    margin:12px;
}
.header img {
    height: 30px;
    margin: auto;
    display: block;
}

@media (max-width: 575.98px) {
    .wrapper {
        margin-top:0px;
    }   
}