<div class="container wrapper mb-5 pb-5">

  <div class="row">
    <div class="col top">
      <img class="img-fluid d-none d-sm-block" src="assets/img/Atlassian-horizontal-white-rgb.svg" />
    </div>
  </div>

  <div class="row">
    <div class="col header">
      <img class="img-fluid mt-5" src="assets/img/Title.JPG" />
      <p class="lead text-center m-3 text-muted">
        {{pageTitle}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ngb-tabset (tabChange)="navigate($event)">
        <ngb-tab title="Build" id="build"></ngb-tab>
        <ngb-tab title="Plan" id="plan"></ngb-tab>
        <ngb-tab title="Innovate" id="innovate"></ngb-tab>
        <ngb-tab title="Interact" id="interact"></ngb-tab>
        <ngb-tab title="Scale" id="scale"></ngb-tab>
        <ngb-tab title="Service" id="service"></ngb-tab>
        <ngb-tab title="Enhance" id="enhance"></ngb-tab>
        <ngb-tab title="General" id="general"></ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>