<div class="row text-center">
  <div class="col-12">
    <img class="img-fluid not-found" src="assets/img/notfound.JPG"/>
  </div>
  <div class="col-12">
    <a href="/" target="_self" class="btn btn-light m-2">Head home</a>
  </div>
</div>