<div class="row">
  <div class="col-12 col-md-4">
      <h3 class="m-1 mt-3 mb-4 strong">{{ sessionTitle }}</h3>
      <ul class="m-1 list-unstyled session">
        <li *ngFor="let item of items" (click)="showDetails(item.Id)" [ngClass]="{'active': item.Id === showId}" class="session-item pl-2 pt-3" [ngx-scroll-to]="'content'">
            <p class="strong mb-0 font-weight-bold">{{item.Title}}</p>    
            <p class="lead small text-muted mt-1 mb-0 pb-2">{{item.Speakers[0].FirstName}} {{item.Speakers[0].LastName}}, {{item.Speakers[0].Company}}</p>
        </li>
      </ul>
  </div>

  <div *ngIf="contentToDisplay" class="col-12 col-md-8" id="content">
      <h1 class="m-1 mt-3 mb-4">{{contentToDisplay.Title}}</h1>
      <p class="font-weight-bold">{{contentToDisplay.Speakers[0].FirstName}} {{contentToDisplay.Speakers[0].LastName}}, {{contentToDisplay.Speakers[0].Company}}</p>
      <p>{{contentToDisplay.Description}}</p>
      <a href="#" target="_self">See the Q&A from this talk and others here.</a>
      <h2 class="mt-4">About the speaker</h2>
      <p class="font-weight-bold mt-4">{{contentToDisplay.Speakers[0].FirstName}} {{contentToDisplay.Speakers[0].LastName}}, {{contentToDisplay.Speakers[0].Company}}</p>
      <p class="font-italic ml-3 mr-3">{{contentToDisplay.Speakers[0].Biography}}</p>
  </div>
</div>

